.course {
  &Item{
    padding: 10px 15px;
    @include shadow-light;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
  }
  &Img{
    border-bottom: 1px solid $primary-color;
  }
}
