
.navbar {
  background-color: $primary-color;
  @include shadow;
  button {
    color: $text-color;
    &:hover {
      color: $accent-color;
    }
  }
}
#navbarNav {
  li {
    margin-left: 1.4em;
  }
}
.cartFilled {
  animation-name: cartPulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 0;
  color: $accent-color;
}
.cartAmount {
  color: $text-color;
  position: relative;
  padding: 2px;
  font-size: 12px;
  left: -13px;
  top: -8px;
  background-color: $secondary-color;
  border-radius: 10%;
}
@keyframes cartPulse {
  0% {
    transform: rotate(15deg) scale(1.4);
  }
  100% {
    transform: rotate(-15deg) scale(1);
  }
}
.cart {
  background-color: $primary-color;
  @include shadow;
  margin-top: 40px;
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    border-bottom: 1px solid $accent-color;
  }
  &Div {
    padding: 10px;
  }
  &Img {
  }
  &ItemLink {
    padding: 10px;
  }
  li:hover{
    background-color: $secondary-color;
  }
  &ItemLink{
    color: $text-color;
  }
}
