.hero {
  &-bg{
    @include fullscreendiv;
    // background-color: $background-color;
    background-image: url('../images/white-waves.png');
    &-resetPass{
      @include fullscreendiv;
      background-image: url('../images/forgotpass.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
    &-404{
      @include fullscreendiv;

    }
  }
  &-sm{
    background-image: url('../images/courses-banner-small.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &-profile{
      max-height: 30vh;
      background-image: url('../images/profileImg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &-contact{
      max-height: 60vh;
      background-image: url('../images/contactpage_art.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &-privacy{
      max-height: 60vh;
      background-image: url('../images/privacy.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
h1 {
  color: $text-color;
}
.home-heading {
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}
.fullview {
  @include fullscreendiv;
  &-sm{
    min-height: 30vh;
  }
  &-md{
    min-height: 60vh;
  }
}
.heading {
  &-max{
    font-size: 4.8rem;
  }
  &-min{
    font-size: 1.8rem;
  }
}
.font {
  &-primary{
    color: $primary-color;
  }
  &-secondary{
    color: $secondary-color;
  }
  &-accent{
    color: $accent-color;
  }
  &-white{
    color: white !important;
  }
  &-complementary{
    color: $complementary-color;
  }

}
