.loginFormDiv {
  background-color: $secondary-color;
  color: $text-color;
  padding: 30px;
  border-radius: 10px;
  @include shadow;
}
.loginChoiceDiv {
  button {
    padding-left: 20px;
    padding-right: 20px;
  }

}
.loading {
  text-align: center;
  margin-left: 45%;
}
