
.profile {
  &-body{
      background-color: $dark-profile;
      .nav {
        background-color: $dark-profile-1;
        border-radius: 2px;
        @include shadow;
      }
      a {
        color: $profile-text;
        &:hover {
          background-color: $dark-profile-2;
        }
      }
  }
  &-content {
    margin-top: 40px;
  }
  &-content .tab {
    background-color: $dark-profile-1;
    border-radius: 2px;
    padding: 20px;
    @include shadow;
    color: $profile-text;

  }
  &-content .tab .widget {
    background-color: $dark-profile-2;
    padding: 10px;
    @include shadow-light;
    border-radius: 5px;
  }
}
