
.test {
  &-body{
      background-color: $dark-profile;
      .grid {
        border-radius: 2px;
        padding: 15px;
        overflow-y: scroll;
        margin-bottom: 30px;
        @include shadow;
        &-circle {
          // padding: 0px 3px;
          // margin-left: 15px;
          // margin-bottom: 15px;
          // border: 1px solid black;
          // border-radius: 50%;
          position: relative;
          border-radius: 50%;
          border: 1px solid black;
          margin-left: 16px;
          margin-bottom: 16px;
          width: 2.2rem;
          height: 2.2rem;
          display: flex;
          justify-content: center;
          background: white;
          cursor: pointer;


          @include shadow-light;
          p {
            position: absolute;
          }
          @include media("screen", "<maxWidth", ">bp1Width") {
            width: 2rem;
            height: 2rem;
            p {
              top: 4px;
              left: 10px;
            }
          };
          @include media("screen", "<bp1Width", ">minWidth") {
            width: 3.2rem;
            height: 3.2rem;
            p {
              top: 14px;
              left: 20px;
            }
          };

        }
        .guide {
          margin-bottom: 30px;
        }
        &-circle-guide {
          position: relative;
          border-radius: 50%;
          border: 1px solid black;
          width: 1.2rem;
          height: 1.2rem;
          background: white;
        }
      }
      a {
        color: $profile-text;
        &:hover {
          background-color: $dark-profile-2;
        }
      }
  }
  &-content {
    margin-top: 40px;
    .attempted {
      background-color: $correct-ans;
      color: $text-color;
    }
    .unattempted {
      background-color: transparent !important;
      color: $primary-color;
    }
    .unattemptedBg {
      background-color: transparent !important;
    }
    .marked {
      background-color: $marked;
      color: $text-color;
    }
    .fas {
      font-size: 1.5em;
    }
  }
  &-content .tab {
    background-color: $text-screen-bg;
    border-radius: 2px;
    padding: 20px;
    @include shadow;
    color: $profile-text;
    h3,.answer {
      font-family: "Rubik", sans-serif !important;
      font-weight: 400 !important;
      font-size: 18px !important;
      line-height: 16px !important;
    }
    .answer {
      background-color: $dark-profile-2;
      border-bottom: 1px solid $wrong-ans;
      padding: 15px;
      font-size: 16px !important;
      border-radius: 3px;
      cursor: pointer;
      &:hover{
        // background-color: $dark-profile;
        // color: $accent-color;
      }
      span {
        padding: 10px 14px;
        background-color: $wrong-ans;
        border-radius: 50%;
        color: $text-color;
        margin-right: 25px;
      }
    }
    .correct {
     color: $primary-color;
     font-weight: bolder;
     background-color: $correct-ans;
   }
   .disabled {
     pointer-events: none;
     cursor: default;
   }
   .selected {
     border-bottom: 2px solid $selected;
     span {
       background-color: $selected;
     }
   }
   .wrong {
     color: $wrong-ans;
   }
   .not-visible {
     display: none;
   }
   .timer {
     width: 50%;
     h3 {
       background-color: white !important;
       padding: 25px;
       font-size: 22px !important;
       border-radius: 30px;
       @include shadow-light;
     }
   }
   .ad {
     min-width: 728px;
     min-height: 90px;
     background-image: url('../images/ad.jpg');
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
     margin-bottom: 20px;
   }
  }
}
