
.test {
  &-body{
      background-color: $dark-profile;
      .grid {
        border-radius: 2px;
        padding: 15px;
        overflow-y: scroll;
        margin-bottom: 30px;
        @include shadow;
        &-circle {
          padding: 0px 3px;
          margin-left: 15px;
          margin-bottom: 15px;
          border: 1px solid black;
          border-radius: 50%;
          cursor: pointer;
          @include shadow-light;
          p {
            position: relative;
            top: 7px;
          }
        }
        .guide {
          margin-bottom: 30px;
        }
        &-circle-guide {
          padding: 10px 10px;
          margin-left: 15px !important;
          margin-right: 7px !important;
          border-radius: 50%;
          border: 1px solid black;
        }
      }
      a {
        color: $profile-text;
        &:hover {
          background-color: $dark-profile-2;
        }
      }
  }
  &-content {
    margin-top: 40px;
    .attempted {
      background-color: $correct-ans;
      color: $text-color;
    }
    .unattempted {
      background-color: transparent !important;
      color: $primary-color;
    }
    .unattemptedBg {
      background-color: transparent !important;
    }
    .marked {
      background-color: $marked;
      color: $text-color;
    }
    .fas {
      font-size: 1.5em;
    }
  }
  &-content .tab {
    background-color: $dark-profile-1;
    border-radius: 2px;
    padding: 20px;
    @include shadow;
    color: $profile-text;
    .answer {
      background-color: $dark-profile-2;
      padding: 15px;
      border-radius: 3px;
      cursor: pointer;
      &:hover{
        background-color: $dark-profile;
        // color: $accent-color;
      }
      span {
        padding: 10px 14px;
        background-color: $wrong-ans;
        border-radius: 50%;
        color: $text-color;
        margin-right: 25px;
      }
    }
    .correct {
     color: $primary-color;
     font-weight: bolder;
     background-color: $correct-ans;
   }
   .disabled {
     pointer-events: none;
     cursor: default;
   }
   .selected {
     color: $text-color;
     background-color: $primary-color;
     &:hover{
       background-color: $primary-color;
       // color: $accent-color;
     }
   }
   .wrong {
     color: $wrong-ans;
   }
   .not-visible {
     display: none;
   }
   .timer {
     text-align: center;
     h3 {
       background-color: white !important;
       padding: 5px;
       border-radius: 5px;
       @include shadow;
     }
   }
   .ad {
     min-width: 728px;
     min-height: 90px;
     background-image: url('../images/ad.jpg');
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
     margin-bottom: 20px;
   }
  }
}
