$dark-profile: #E9DCD9 !important;
$dark-profile-1: #C82B3E !important;
$dark-profile-2: #2E112D !important;
$correct-ans: #ffffff !important;
$profile-text: #D9BF96 !important;
$wrong-ans: #ffe900 !important;
$marked: yellow !important;
$primary-color: #1A535C !important;
$secondary-color: #4ECDC4 !important;
$accent-color: #FF6B6B !important;
$text-color: #F7FFF7 !important;
$dark-color: #3e3e3e !important;
$background-color: #eee !important;
