$dark-profile: #ffffff !important;
$dark-profile-1: #F3F3F4 !important;
$dark-profile-2: #ffffff !important;
$correct-ans: #2F80ED !important;
$profile-text: #333333 !important;
$wrong-ans: #9e9e9e !important;
$marked: #A056E5 !important;
$selected: #2EBAC6 !important;
$primary-color: #1A535C !important;
$secondary-color: #4ECDC4 !important;
$accent-color: #FF6B6B !important;
$complementary-color: #F7A400 !important;
$text-color: #F7FFF7 !important;
$dark-color: #3e3e3e !important;
$background-color: #EAE9E8 !important;
$text-screen-bg: #FFFFFF !important;
