
@mixin shadow {
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.7);
box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.7);
}
@mixin shadow-light {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
}
@mixin fullscreendiv {
  min-height: 100vh;
}

@import "variables-light",
        "header",
        "footer",
        "home",
        "loginForm",
        "courses",
        "profile",
        "test";

body {
  background-color: $background-color;
}

.btn {
  &-primary {
    background-color: $accent-color;
    border-color: $accent-color;
    &:hover {
      background-color: $accent-color;
      @include shadow;
    }
  }
  &-secondary {
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
      background-color: $accent-color;
    }
  }
  &.active {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}
