.navbar {
  background-color: #1A535C !important;
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
}
.navbar button {
  color: #F7FFF7 !important;
}
.navbar button:hover {
  color: #FF6B6B !important;
}

#navbarNav li {
  margin-left: 1.4em;
}

.cartFilled {
  animation-name: cartPulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-delay: 0;
  color: #FF6B6B !important;
}

.cartAmount {
  color: #F7FFF7 !important;
  position: relative;
  padding: 2px;
  font-size: 12px;
  left: -13px;
  top: -8px;
  background-color: #4ECDC4 !important;
  border-radius: 10%;
}

@keyframes cartPulse {
  0% {
    transform: rotate(15deg) scale(1.4);
  }
  100% {
    transform: rotate(-15deg) scale(1);
  }
}
.cart {
  background-color: #1A535C !important;
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  margin-top: 40px;
}
.cart ul {
  padding: 0;
}
.cart li {
  list-style-type: none;
  border-bottom: 1px solid #FF6B6B !important;
}
.cartDiv {
  padding: 10px;
}
.cartItemLink {
  padding: 10px;
}
.cart li:hover {
  background-color: #4ECDC4 !important;
}
.cartItemLink {
  color: #F7FFF7 !important;
}

.footer {
  background-color: #3e3e3e !important;
  position: static;
  bottom: 0;
}
.footer ul {
  padding: 0;
}
.footer li {
  list-style-type: none;
  float: left;
}
.footer .nav-link {
  color: #F7FFF7 !important;
}

.hero-bg {
  min-height: 100vh;
  background-image: url("../images/illustrationHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero-sm {
  max-height: 30vh;
  background-image: url("../images/courses-banner-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-sm-profile {
  max-height: 30vh;
  background-image: url("../images/profileImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: #F7FFF7 !important;
}

.fullview {
  min-height: 100vh;
}
.fullview-sm {
  min-height: 30vh;
}

.heading-max {
  font-size: 4.8em;
}
.heading-min {
  font-size: 1.8em;
}

.font-primary {
  color: #1A535C !important;
}
.font-secondary {
  color: #4ECDC4 !important;
}
.font-accent {
  color: #FF6B6B !important;
}

.loginFormDiv {
  background-color: #4ECDC4 !important;
  color: #F7FFF7 !important;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
}

.loginChoiceDiv button {
  padding-left: 20px;
  padding-right: 20px;
}

.loading {
  text-align: center;
  margin-left: 45%;
}

.courseItem {
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
}
.courseImg {
  border-bottom: 1px solid #1A535C !important;
}

.profile-body {
  background-color: #ffffff !important;
}
.profile-body .nav {
  background-color: #F3F3F4 !important;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
}
.profile-body a {
  color: #333333 !important;
}
.profile-body a:hover {
  background-color: #ffffff !important;
}
.profile-content {
  margin-top: 40px;
}
.profile-content .tab {
  background-color: #F3F3F4 !important;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  color: #333333 !important;
}
.profile-content .tab .widget {
  background-color: #ffffff !important;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.test-body {
  background-color: #ffffff !important;
}
.test-body .nav {
  background-color: #F3F3F4 !important;
  border-radius: 2px;
  height: 500px;
  overflow-y: scroll;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
}
.test-body a {
  color: #333333 !important;
}
.test-body a:hover {
  background-color: #ffffff !important;
}
.test-content {
  margin-top: 40px;
}
.test-content .attempted {
  color: #3ffc55 !important;
}
.test-content .unattempted {
  color: #ff3f00 !important;
}
.test-content .tab {
  background-color: #F3F3F4 !important;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  color: #333333 !important;
}
.test-content .tab .answer {
  background-color: #ffffff !important;
  padding: 5px;
  border-radius: 3px;
}
.test-content .tab .answer:hover {
  background-color: #ffffff !important;
}
.test-content .tab .correct {
  color: #1A535C !important;
  background-color: #3ffc55 !important;
}
.test-content .tab .disabled {
  pointer-events: none;
  cursor: default;
}
.test-content .tab .selected {
  color: #F7FFF7 !important;
  background-color: #1A535C !important;
}
.test-content .tab .wrong {
  color: #ff3f00 !important;
}
.test-content .tab .not-visible {
  display: none;
}
.test-content .tab .timer {
  text-align: center;
}
.test-content .tab .timer h3 {
  background-color: #1A535C !important;
  padding: 5px;
  border-radius: 5px;
}
.test-content .tab .ad {
  min-width: 728px;
  min-height: 90px;
  background-image: url("../images/ad.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}

.checkout {
  margin-top: 25px;
  background-color: #F7FFF7 !important;
  padding: 10px;
}

.SlideIn-appear {
  transform: translateX(30px);
  opacity: 0;
}

.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.6s linear;
}

.SlideIn-enter {
  opacity: 0;
  transform: translateX(30px);
}

.SlideIn-enter.SlideIn-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s linear 0.4s;
}

.SlideIn-leave {
  opacity: 1;
  transform: translateX(0);
}

.SlideIn-leave.SlideIn-leave-active {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateX(-30px);
  transition: all 0.2s linear;
}

body {
  background-color: #eee !important;
}

.btn-primary {
  background-color: #FF6B6B !important;
  border-color: #FF6B6B !important;
}
.btn-primary:hover {
  background-color: #FF6B6B !important;
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
}
.btn-secondary {
  background-color: #1A535C !important;
  border-color: #1A535C !important;
}
.btn-secondary:hover {
  background-color: #FF6B6B !important;
}
.btn.active {
  background-color: #4ECDC4 !important;
  border-color: #4ECDC4 !important;
}

/*# sourceMappingURL=style-light.css.map */
