.navbar {
  background-color: #1A535C !important;
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
}
.navbar button {
  color: #F7FFF7 !important;
}
.navbar button:hover {
  color: #FF6B6B !important;
}

#navbarNav li {
  margin-left: 1.4em;
}

.cart {
  position: absolute;
  left: 59%;
  background-color: #1A535C !important;
  z-index: 1001;
  max-width: 400px;
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
}
.cart ul {
  padding: 0;
}
.cart li {
  list-style-type: none;
  border-bottom: 1px solid #FF6B6B !important;
}
.cartDiv {
  position: relative;
  padding: 10px;
}
.cartImg {
  max-width: 50px;
}
.cartItemLink {
  max-width: 350px;
  padding: 10px;
}
.cart li:hover {
  background-color: #4ECDC4 !important;
}
.cartItemLink {
  color: #F7FFF7 !important;
}

.footer {
  background-color: #3e3e3e !important;
  position: static;
  bottom: 0;
}
.footer ul {
  padding: 0;
}
.footer li {
  list-style-type: none;
  float: left;
}
.footer .nav-link {
  color: #F7FFF7 !important;
}

.hero-bg {
  min-height: 100vh;
  background-image: url("../images/illustrationHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero-sm {
  max-height: 30vh;
  background-image: url("../images/courses-banner-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: #F7FFF7 !important;
}

.fullview {
  min-height: 100vh;
}
.fullview-sm {
  min-height: 30vh;
}

.heading-max {
  font-size: 4.8em;
}
.heading-min {
  font-size: 1.8em;
}

.font-primary {
  color: #1A535C !important;
}
.font-secondary {
  color: #4ECDC4 !important;
}
.font-accent {
  color: #FF6B6B !important;
}

.loginFormDiv {
  background-color: #4ECDC4 !important;
  color: #F7FFF7 !important;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
}

.loginChoiceDiv button {
  padding-left: 20px;
  padding-right: 20px;
}

.courseItem {
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.courseImg {
  border-bottom: 1px solid #1A535C !important;
}

.btn-primary {
  background-color: #FF6B6B !important;
  border-color: #FF6B6B !important;
}
.btn-primary:hover {
  background-color: #FF6B6B !important;
  -webkit-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px 1px rgba(0, 0, 0, 0.7);
}
.btn-secondary {
  background-color: #1A535C !important;
  border-color: #1A535C !important;
}
.btn-secondary:hover {
  background-color: #FF6B6B !important;
}
.btn.active {
  background-color: #4ECDC4 !important;
  border-color: #4ECDC4 !important;
}

/*# sourceMappingURL=style.css.map */
